{%extends 'base.html'%}
{%load static%}
{%block content%}
    <div class="work container">
      <div class="container text-center corp">
        <h1 class="display-1 wb">How <span>Jobaggregator</span> works for you</h1>
      </div>
      <div class="work-card mt-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="body-card text-start pt-5 pb-4 mt-5" >
                  <div class="date p-5">
                      <img src="{%static 'img/icon1.png'%}" alt="Icon">
                      <h1 class="mt-5 mb-5">Perfect Job Search</h1>
                      <p class="pb-5 fs-4">Job Aggregator returns the best jobs that match your skills. You no longer have to scan through roles that don't match your qualifications </p>
                  </div>
                
              </div>
            </div>
            <div class="col-lg-4">
              <div class="body-card text-start pt-5 pb-4 mt-5" >
                  <div class="date p-5">
                      <img src="{%static 'img/icon2.png'%}" alt="Icon">
                      <h1 class="mt-5 mb-5">Highly Paid Jobs</h1>
                      <p class="pb-5 fs-4">Find Jobs that pay up to $300,000 per annum on Job Aggregator.</p>
                  </div>
                
              </div>
            </div>
            <div class="col-lg-4">
              <div class="body-card text-start pt-5 pb-4 mt-5" >
                  <div class="date p-5">
                      <img src="{%static 'img/icon3.png'%}" alt="Icon">
                      <h1 class="mt-5 mb-5">5,000+ Companies</h1>
                      <p class="pb-5 fs-4">Job Aggregator has jobs roles from over 5,000 companies across the UK and globe for remote roles.</p>
                  </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="find container">
      <div class="container text-center corp">
        <h1 class="display-1 wb">Find Your <span>Perfect Job</span> Here</h1>
      </div>
      <div class="find-content container pt-5">
          <div class="row">
            <div class="col-md-6 fimage">
              <img src="{%static 'img/image1.png'%}" class="img-fluid" alt="image">
            </div>
            <div class="col-md-6 mt-5 pt-5">
              <p class="fs-4 pt-5 m-auto">Job Aggregator offers to you the best jobs from top companies and brands across the UK.</p>
              <p class="fs-4 pt-5 m-auto">Don't just perform role-based searches on Job Aggregator. With Job Aggregator you can perform skill-based search!</p>
            </div>

          </div>
      </div>

    </div>

    <div class="recent container">
      <div class="container text-center corp mb-5 pb-5">
        <p class="m-auto fs-3">The latest perfect jobs</p>
        <div class="rhead">
          <h1 class="display-1 wb">Recently Posted <span> Jobs</span></h1>
        </div>
      </div>
      <div class="row g-4 my-5 mx-auto pt-5 owl-carousel owl-theme">
        {%for i in latest%}
        <div class="col job-card mx-auto pt-5 pb-4">
              <div class="d-flex p-5">
                <div class="jimage me-3">
                  <img class="img-fluid" src="{%static 'img/adwords.png'%}" alt="logo">
                </div>
                <div class="jtext">
                  <p class="tit">{{i.company_name}}</p>
                  <p class="loc">{{i.location}}</p>
                </div>
              </div>
              <div class="ps-5">
                <p class="role">{{i.title}}</p>
                <p class="type">{{i.job_type}}</p>
                <p class="pay">{{i.salary}}</p>
              </div>
              <div class="d-flex justify-content-between p-5">
                <div>
                  <a href="#" class="btn btn-lg learn fs-3">Click to Learn</a>
                </div>
                <div>
                  <a href="{{i.job_link}}" class="btn btn-lg apply fs-3" target="_blank" rel="noopener noreferrer">Apply Now</a>
                </div>
              </div>
        </div>
        {%endfor%}
        
        
      </div>
      

    </div>

{%endblock%}