{%extends 'base.html'%}
{%load static%}
{%block content%}
    <div class="milieu">
      <div class="container pt-5 mt-5">
        <div class="row">
          <div class="col-lg-3 mb-5">
            <div class="sidebar-container d-md-block border border-1 rounded-3">
              <div class="flowers-wrap ">
                <p class="m-4 p-3 fs-2 filter"><span class="fas fa-sliders-h me-3"></span>Filter</p> 
                <hr>
                <form action="{%url 'main:ad-filter'%}">
                  <div class="multipleSelection">
                      <div style="width:90%; margin:auto; padding-bottom:20px;">
                        <label class="fs-4" style="padding-bottom: 10px;">Job Type</label>
                          <select class="fs-4 p-3 form-select filter2" name="job_type" style="width: 100;">
                          {%if job_type == '0'%}
                            <option value="0" selected>Full Time</option>
                            <option value="5">None</option>
                            <option value="1">Part Time</option>
                          {%elif job_type == '1'%}
                            <option value="1" selected>Part Time</option>
                            <option value="5">None</option>
                            <option value="0">Full Time</option>
                          {%else%}
                              <option value="5" selected>None</option>
                              <option value="0">Full Time</option>
                              <option value="1">Part Time</option>
                            
                            {%endif%}
                          </select>
                      </div>
                      <hr>
                      <div style="width:90%; margin:auto; padding-bottom:20px;" hidden>
                        <label class="fs-4" style="padding-bottom: 10px;">Skills</label>
                        {%if skills%}
                          <select class="fs-4 p-3 form-select" name="skill" multiple style="width: 100;">
                            {%for i in skills%}
                              <option value="{{i}}" selected>{{i}}</option>
                            {%endfor%}
                          </select>
                          {%endif%}
                      </div>

                      <div style="width:90%; margin:auto; padding-bottom:20px;" hidden>
                        <label class="fs-4" style="padding-bottom: 10px;">Category</label>
                        {%if category%}
                          <select class="fs-4 p-3 form-select" name="cat" multiple style="width: 100;">
                              <option value="{{category}}" selected>{{category}}</option>
                          </select>
                          {%endif%}
                      </div>
                      <div style="width:90%; margin:auto; padding-bottom:20px;">
                        <label class="fs-4">City</label>
                          <select class="fs-4 p-3 form-select filter2" name="city" multiple style="width: 100;">
                            {%if city%}
                            {%for i in city%}
                            <option value="{{i}}" selected>{{i}}</option>
                            {%endfor%}
                            {%endif%}
                            {%for i in city_list%}
                              <option value="{{i}}">{{i}}</option>
                            {%endfor%}
                            </select>
                      </div>
                      
                      <hr>
                        
                      <div class="m-4 p-3 appliquer">
                        <button class="btn btn-lg fs-4" type="submit">Apply</button>
                      </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          
          <div class="col-lg-9 col-md-8 no-border">
            <ul class="nav nav-tabs border-0 oya" id="myTab">
                <li class="nav-item  sabi">
                    <a href="#perfect" class="nav-link border-0 active h3 me-5" data-bs-toggle="tab">Search Results</a>
                </li>
            </ul>
            <div class="tab-content mt-5">
                <div class="tab-pane  show active" id="perfect">
                  {%if not page_obj%}
                  <p>No Jobs to display</p>
                  {%endif%}
                  {%for i in page_obj%}
                  <div class="job-new-list">
                    <div class="row">
                      <div class="col-md-7">
                        <div class="d-flex">
                          <div class="jimage me-3">
                            <img class="img-fluid" src="{%static 'img/asana.png'%}" alt="logo">
                          </div>
                          <div class="jtext">
                            <p class="tit">{{i.company_name}}</p>
                            <p class="loc">{{i.location}}</p>
                          </div>
                        </div>
                        <div>
                          <p class="role">{{i.title}}</p>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <div>
                          <div>
                            {%if i.job_type != 'null'%}
                            <p class="type">{{i.job_type}}</p>
                            {%endif%}
                            {%if i.salary != 'null'%}
                            <p class="pay">{{i.salary}}</p>
                            {%endif%}
                          </div>
                          <div class="mt-5">
                            <a href="{{i.job_link}}" class="btn btn-lg border border-2 apply fs-3" target="_blank">Apply Now</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {%endfor%}
                  </div>





        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end fs-4">
            {%if page_obj.has_previous%}
            <li class="page-item">
              <a class="page-link avec" href="?{{url1}}&page={{page_obj.previous_page_number}}">Previous</a>
            </li>
            {%endif%}
            <li class="page-item"><a class="page-link sans ms-5" href="?{{url1}}&page=1">1</a></li>
            {%if page_obj.has_next%}
            <li class="page-item mx-2"><a class="page-link sans" href="?{{url1}}&page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}</a></li>
            {%endif%}
            {%if page_obj.has_next%}
            <li class="page-item">
              <a class="page-link avec" href="?{{url1}}&page={{page_obj.next_page_number}}">Next</a>
            </li>
            {%endif%}
          </ul>
        </nav>
      </div>
    </div>

    <div class="recent container">
      <div class="container text-center corp mb-5 pb-5">
        <p class="m-auto fs-3">The latest perfect jobs</p>
        <div class="rhead">
          <h1 class="display-1 wb">Recently Posted <span> Jobs</span></h1>
        </div>
      </div>
      <div class="row g-4 my-5 mx-auto pt-5 owl-carousel owl-theme">
        {%for i in latest%}
        <div class="col job-card mx-auto pt-5 pb-4" style="height:40rem;">
              <div class="d-flex p-5">
                <div class="jimage me-3">
                  <img class="img-fluid" src="{%static 'img/adwords.png'%}" alt="logo">
                </div>
                <div class="jtext">
                  <p class="tit">{{i.company_name}}</p>
                  <p class="loc">{{i.location}}</p>
                </div>
              </div>
              <div class="ps-5">
                <p class="role">{{i.title}}</p>
                <p class="type">{{i.job_type}}</p>
                <p class="pay">{{i.salary}}</p>
              </div>
              <div class="d-flex justify-content-between p-5">
                <div>
                  <a href="#" class="btn btn-lg learn fs-3">Click to Learn</a>
                </div>
                <div>
                  <a href="{{i.job_link}}" class="btn btn-lg border border-2 apply fs-3" target="_blank" rel="noopener noreferrer">Apply</a>
                </div>
              </div>
        </div>
        {%endfor%}
      </div>
      

    </div>

{%endblock%}
{%block extra_javascript%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script>
  $('.filter2').select2({
    minimumResultsForSearch:-1,
    width: '100%'
  })
</script>
{%endblock%}
